$content-width: 700px;
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;
$base-spacing: $base-line-height;

$type-scale: (
  -1: .75rem,  // small text
  0: 1rem,      // body text
  1: 1.333rem,  // large text
  2: 1.777rem   // main heading
);

$line-heights: (
  -1: $base-line-height * .6667,
  0: $base-line-height,
  1: $base-line-height * 1.25,
  2: $base-line-height * 2
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

$font-style: Crimson Text, serif;
$monospaced-font: Consolas, 'Roboto Mono', 'Liberation Mono', Menlo, Courier, monospace;
$bold-font-weight: 600;

$primary-text-color:        hsla(0, 0%, 0%, .73);
$primary-text-color-dark:   darken($primary-text-color, 50%);
$secondary-text-color: lighten($primary-text-color, 20%);
$contrast-background: lighten($primary-text-color, 50%);
$divider-color: lighten($primary-text-color, 50%);

$link-color: $primary-text-color;
$link-hover-color: $primary-text-color-dark;

$heading-font: 'Rosario', serif;
$heading-font-color: $primary-text-color;
$heading-font-weight: 900;

$subheading-font: $heading-font;
$subheading-font-color: $secondary-text-color;

*,
*::before,
*::after,
html {
  box-sizing: border-box;
}

html {
  @include type-setting(0);
  overflow-y: scroll;
}

body {
  @include type-setting(0);
  color: $primary-text-color;
  font-family: $font-style;
  font-weight: 400;
  word-wrap: break-word;
}

img {
  margin: 0 0 0 $base-spacing;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-font-color;
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  margin-bottom: line-height(1);
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  @include type-setting(2);
}

h2 {
  @include type-setting(1);
}

h3 {
  @include type-setting(1);
  color: $subheading-font-color;
  font-weight: $bold-font-weight;
}

h4 {
  @include type-setting(1);
  color: $subheading-font-color;
  font-weight: $bold-font-weight;
}

h5 {
  @include type-setting(-1);
  color: $subheading-font-color;
  line-height: $base-line-height;
}

h6 {
  @include type-setting(-1);
  line-height: $base-line-height;
}

ul,
ol {
  list-style-image: none;
  margin: 0 0 $base-spacing line-height(-1);
  padding: 0;
}

li > ol,
li > ul {
  margin: ($base-spacing / 2) 0 ($base-spacing / 2) $base-spacing;
}

dl,
dd,
p,
fieldset,
figure,
form,
iframe,
noscript {
  margin: 0 0 0 $base-spacing;
  padding: 0;
}


pre {
  @include type-setting(-1);
  background: $contrast-background;
  border-radius: 3px;
  line-height: line-height(-1);
  margin: 0 0 0 $base-spacing;
  overflow: auto;
  padding: $base-spacing;

  code {
    background: none;
    line-height: line-height(1);
  }
}

table {
  @include type-setting(1);
  border-collapse: collapse;
  line-height: $base-line-height;
  margin: 0 0 0 $base-spacing;
  padding: 0;
  width: 100%;
}

$blockquote-color: $primary-text-color-dark;

blockquote {
  @include type-setting(1);
  border-left: .28125rem solid $divider-color;
  color: $blockquote-color;
  font-style: italic;
  margin: 0 0 0 $base-spacing;
  padding: 0 0 0 1.21875rem;

  cite {
    @include type-setting(1);
    color: $heading-font-color;
    font-style: normal;
    font-weight: 400;
    line-height: $base-line-height;

    &::before {
      content: '— ';
    }
  }
}

hr {
  background: $divider-color;
  border: 0;
  height: 1px;
  margin: 0 0 0 calc(${$base-spacing} - 1px);
  padding: 0;
}

b,
strong,
dt,
th {
  font-weight: $bold-font-weight;
}

li {
  margin-bottom: ($base-spacing / 2);
}

ol li,
ul li {
  padding-left: 0;
}

kbd,
samp,
code {
  @include type-setting(-1);
  line-height: $base-line-height;
}

acronym,
abbr {
  border-bottom: 1px dotted $divider-color;
  cursor: help;
}

thead,
td,
th {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid $divider-color;
  font-feature-settings: tnum;
  padding: .75rem 1rem calc(.75rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: $contrast-background;
  border-radius: 3px;
  font-family: $monospaced-font;
  padding: .2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

@mixin fancy-anchor-underlines($line-color, $shadow-color: #fff) {
  box-shadow: inset 0 -1px 0 0 $shadow-color, inset 0 -2px 0 0 $line-color;
  text-decoration: none;
  text-shadow: 1px 1px 0 $shadow-color, -1px 1px 0 $shadow-color, 1px 0 0 $shadow-color, -1px 0 0 $shadow-color;
}

a {
  @include fancy-anchor-underlines($link-color);
  color: $link-color;
}

a:hover,
a:active {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 118.75%;
    line-height: line-height(1);
  }

  blockquote {
    border-left: .28125rem solid $divider-color;
    color: $blockquote-color;
    font-style: italic;
    margin-left: -$base-spacing;
    margin-right: 0;
    padding: 0 0 0 1.21875rem;
  }
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
