main {
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 $base-spacing;
}

p {
  margin: $base-spacing 0;
}

time {
  color: $primary-text-color-dark;
}

footer {
  border-top: 1px solid $divider-color;
  padding: $base-spacing 0;
}

.people {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  margin: $base-spacing 0;

  .bio {
    margin: $base-spacing $base-spacing 0 0;

    img {
      margin: 0;
      width: calc(100vw / 5);
    }
    h3 {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .people .bio img {
    width: calc(100vw);
  }
}
